@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #ffffff;  
}

html{
    font-size: 62.5%;
    font-family: 'Popins', sans-serif;
    
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 a{
    text-decoration: none;
    color: #000000;
    
} 

#link-sin-subrayado{
    text-decoration: none;
    color: #fff;
}




/* Utilidades */
.container{
    max-width: 130rem;
    margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/* HEADER */
.container-hero{
    background-color: #f7f9f9 ;
    
}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}

.customer-support{
    display:inline-flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i{
    font-size: 3.3rem;
}

.content-customer-support{
    display:flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i{
    font-size: 3rem;
    
}

.container-logo h1 a{
    text-decoration: none;
    color: #000000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    
}


/* NAVBAR */ 
.container-navbar{
    background-color: #f7f9f9 ;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}

.nav-links {
    list-style: none;
    font-size: 13px;
}

.nav-links li{
    display: inline-block;
    padding: 3px 20px;

}

.nav-links li a {
    transition: all 0.3s ease 0s;

}

.nav-links li a:hover {
    color: #000000;
    border-radius: 30px;
    padding: 4px 19px;
    background-color: #11d4d4c7;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 2rem;
    background-color: #ffffff;
    height: 4.4rem;
    overflow: hidden;
}

.search-form input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #000000;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i{
    font-size: 2rem;
}



/* BANNER */ 
.banner{
    background-image: url(imagenes/playa.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner p{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-banner h2{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}


/* MAIN CONTENT */
.main-content{
    background-color: #fff;
}

/* FEATURES */
.container-features{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-feature i{
    font-size: 2.7rem;
    color: #550093;

}

.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: #151515;
}

.feature-content p{
    color: #777;
    font-weight: 500;
}


/* CATEGORIES */
.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

.category-Hombre{
    background-image: linear-gradient(#00000080, #00000080), url('imagenes/CategoriaH.jpeg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-Mujer{
    background-image: linear-gradient(#00000080, #00000080), url('imagenes/CategoriaM.jpeg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.card-category p{
    font-size: 2.4rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%,50%);
}

.card-category span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover{
    color: var(--primary-color);
}


/* Productos nuevos */
.nuevos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}


.container1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.article {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: left;
}


.article-hidden {
    display: none;
}


/* Boton de mostrar y ocultar productos */

.button-container {
    display: grid;
    place-items: center; /* Centra vertical y horizontalmente */
    margin-top: 20px; /* Espacio opcional encima del contenedor */
}

#showMoreButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff; /* Color de fondo opcional */
    color: #fff; /* Color del texto opcional */
    border: none;
    border-radius: 5px;
}





/* FOOTER */
.footer{
    background-color: #2471a3;
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr) 30rem;
    gap: 3rem;
    justify-items:center ;
}

.title-footer{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info,
.information{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li{
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.contact-info ul li a,
.information ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.contact-info ul li a:hover,
.information ul li a:hover{
    color: #66beba;
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}

.social-icons span{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i{
    color: #fff;
    font-size: 2rem;
}

.facebook{
    background-color: #3b5998;
}

.instagram{
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.threads{
    background-color: #000000;
}

.X-twitter{
    background-color: #000000;
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    border-top: 1px solid #a7aaafd2;
}

.copyright p{
    font-size: 1.6rem;
    font-weight: 400;
}



/*Puerba Diseño Carrito*/
.submenu {
    position: relative;
    list-style: none;

}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 40px;
    min-width: 570px;
}

table {
    width: 100%;
}

th, td {
    color: #ffffff;
}

.borrar {
    background-color: #000000;
    border-radius: 50px;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.btn-2{
    display: inline-block;
    padding: 7px 10px;
    background-color: #151515;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}

.products {
    padding: 50px 0;
    text-align: center;
}

.products h2{
    color: #000000;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.products-content {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: block;
}

.produc img{
    width: 250px;
    height: 350px;
    margin-bottom: 20px;

}

.product h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.product p, .precio {
    font-size: 16px;
    color: #2c7ab9;
    margin-bottom: 15px;
}

.precio {
    font-weight: 800;

}

h3 {
    font-size: 20px;
}

/* prueba carrito 2 */
.quantity-btn {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    margin: 0 2px;
}

.quantity-btn:hover {
    background-color: #ccc;
}

.remove-item {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.remove-item:hover {
    background-color: darkred;
}




/* Estilo para el contenedor de productos */
.products.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre columnas */
}

/* Estilo para cada producto */
.product {
    flex: 1 1 calc(25% - 2rem); /* Ajusta el tamaño según tus necesidades */
    box-sizing: border-box;
    border: 1px solid #ddd; /* Para mejorar la visibilidad */
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.3s ease;
}


.product img {
    max-width: 100%;
    height: auto;
}


.product-txt {
    /* margin-top: 10px; */
    padding: 1rem;
}

.agregar-carrito {
    display: block;
    margin-top: 1rem;
    text-align: center;

}



/* Productos */

.products-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

.product {
    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box;
}

.product img {
    width: 100%; 
    height: auto; 
}


/* Media query */

@media (max-width:480px){

@media (max-width:480px){
    .navbar{
        justify-content: center;
    }
    
    .container-hero{
        background-color: #32f3f3 ;
    }

    .customer-support{
        display:inline-flex;
        align-items: center;
        gap: 0.5rem;
    }

    .customer-support i{
        font-size: 2.3rem;
    }

    .container-logo i{
        font-size: 2.2rem;
        
    }

    .container-logo h1 a{
        text-decoration: none;
        color: #000000;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: -1px;
        
    }

    .banner{
        background-image: url(imagenes/playa.jpg);
        height: 20rem;
        background-size: cover;
        background-position: center;
    }

    .content-banner{
        max-width: 60rem;
        margin: 0 auto;
        padding: 10rem 0;
    }

    .card-feature{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    
        background-color: #fff;
        border-radius: .5rem;
        padding: 1rem 0;
    }

    .card-feature i{
        font-size: 1.7rem;
        color: #550093;
    
    }
    .container-features{
        margin: 5px 30px;
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .products{
       flex-direction: column;

    }
    .products-container{
               flex-direction: column;

    }
    .product img{
        height: 200px;
        width: 200px;
    }
    .category-Hombre, .category-Mujer{
        text-align: center;
    }
    .top-categories{
        margin: 10px;
    }
    .container-categories{
        gap: 1.5rem;
    }

    .footer{
        width: 100%;
        margin-top: 20px;
    }
    .copyright{
        margin: 0px 10px;
        padding: 10px;
    }
    .menu-footer{
        gap: initial;
    }
    .submenu:hover #carrito{
        min-width: 370px;
    }
    #lista-carrito th{
        font-size: 13px;
    }

}

    
    

}

